@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* for Extra small (xs: < 576px)*/
@media (max-width: 576px) {
  html {
    font-size: 8px;
  }

  .bodyHome {
    background: #07013f;
    background: linear-gradient(rgba(84, 222, 240, 0.333), #07013f);
    height: 100vh;
    width: 100vw;
  }

  .bodyContact {
    height: 100%;
    width: 100%;
    background: #ff5e63;
    background: linear-gradient(#ff9968, #ff5e63) no-repeat;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .formContact {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    padding: 50px;
    border-radius: 6px;
  }
}

/* for Small (sm: ≥ 576px and < 768px)*/
@media (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .bodyHome {
    background: #07013f;
    background: linear-gradient(rgba(84, 222, 240, 0.333), #07013f);
    height: 100vh;
    width: 100vw;
  }

  .bodyContact {
    height: 100%;
    width: 100%;
    background: #ff5e63;
    background: linear-gradient(#ff9968, #ff5e63) no-repeat;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 20%;
    padding-right: 20%;
  }

  .formContact {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    padding: 50px;
    border-radius: 6px;
  }
}

/* for Medium (md: ≥ 768px and < 992px)*/
@media (min-width: 768px) and (max-width:992px) {
  html {
    font-size: 12px;
  }

  .bodyHome {
    background: #07013f;
    background: linear-gradient(rgba(84, 222, 240, 0.333), #07013f);
    height: 100vh;
    width: 100vw;
  }

  .bodyContact {
    height: 100%;
    width: 100%;
    background: #ff5e63;
    background: linear-gradient(#ff9968, #ff5e63) no-repeat;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 20%;
    padding-right: 20%;
  }

  .formContact {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    padding: 50px;
    border-radius: 6px;
  }
}

/* for Large (lg: ≥ 992px and < 1200px)*/
@media (min-width:992px) and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  .bodyHome {
    background: #07013f;
    background: linear-gradient(rgba(84, 222, 240, 0.333), #07013f);
    height: 100vh;
    width: 100vw;
  }

  .bodyContact {
    height: 100%;
    width: 100%;
    background: #ff5e63;
    background: linear-gradient(#ff9968, #ff5e63) no-repeat;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 20%;
    padding-right: 20%;
  }

  .formContact {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    padding: 50px;
    border-radius: 6px;
  }
}

/* for Extra large (xl: ≥ 1200px)*/
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }

  .bodyHome {
    background: #07013f;
    background: linear-gradient(rgba(84, 222, 240, 0.333), #07013f);
    height: 100vh;
    width: 100vw;
  }

  .bodyContact {
    height: 100%;
    width: 100%;
    background: #ff5e63;
    background: linear-gradient(#ff9968, #ff5e63) no-repeat;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 20%;
    padding-right: 20%;
  }

  .formContact {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    padding: 50px;
    border-radius: 6px;
  }
}